<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Scraper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
</head>
<body>
    <h1 id="heading"><a href="{{ url_for('index') }}"><i class='bx bx-home'></i></a>Price Scraper</h1>
    <form action="/prices">
        <label for="search" id="search-label">Search for a product :</label>
        <label for="category" id="category-label">Specify a category :</label> <br>
        <input type="text" name="search" id="search" placeholder="Search for a product">
        <select name="category" id="category">
            <option value="">None</option>
            <option value="7">Desktop Computers</option>
            <option value="43">Graphics Cards</option>
            <option value="710">Laptops, Tablets</option>
            <option value="8">PC Cooling &amp; Fans</option>
            <option value="5">Cables &amp; Adapters</option>
        </select>
        <br> <br>

        <div id="submit-button-container">
            <button type="submit" id="submit-button">Search</button>
        </div>
    </form>

    <h1 id="subheading">{{ title }} prices</h1> <!-- will fill in with "'rtx 4070' prices" -->

    <div id="result-list">
        <ul>
        {% for name, price, url, pin in records %}
            <li> <!--onclick="classList.toggle('bx-pin'); classList.toggle('bxs-pin');"-->
                <a href="{{ url_for('pin_item', product_name=name, product_price=price, product_url=url, search_terms=title, selected_category=category, current_page='get_lowest_price') }}"><i class='bx {{ pin }}' onclick="classList.toggle('bx-pin'); classList.toggle('bxs-pin');"></i></a>
                <a href="{{ url }}" target="_blank"><i class='bx bx-link'></i></a>{{ name }} : ${{ price }}</li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>